<div class="sizeCard">
  <div class="create-form">
    <div class="form-container">
      <div class="back-button">
        <div class="btn-back" (click)="goToList()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Regresar
        </div>
      </div>
      <h2>Formulario de Registro</h2>
      <form [formGroup]="formulario" (ngSubmit)="enviar()">
        <div class="form-grid">
          <div class="form-group">
            <label>ID</label>
            <input
              formControlName="id"
              [class.error]="f['id'].invalid && f['id'].touched"
            />
            <div
              *ngIf="f['id'].invalid && f['id'].touched"
              class="error-message"
            >
              ¡ID no válido!
            </div>
          </div>

          <div class="form-group">
            <label>name</label>
            <input
              formControlName="name"
              [class.error]="f['name'].invalid && f['name'].touched"
            />
            <div
              *ngIf="f['name'].invalid && f['name'].touched"
              class="error-message"
            >
              Este campo es requerido!
            </div>
          </div>

          <div class="form-group">
            <label>Descripción</label>
            <input
              formControlName="description"
              [class.error]="
                f['description'].invalid && f['description'].touched
              "
            />
            <div
              *ngIf="f['description'].invalid && f['description'].touched"
              class="error-message"
            >
              Este campo es requerido!
            </div>
          </div>

          <div class="form-group">
            <label>Logo</label>
            <input
              formControlName="logo"
              [class.error]="f['logo'].invalid && f['logo'].touched"
            />
            <div
              *ngIf="f['logo'].invalid && f['logo'].touched"
              class="error-message"
            >
              Este campo es requerido!
            </div>
          </div>

          <div class="form-group">
            <label>Fecha Liberación</label>
            <input
              type="text"
              maxlength="10"
              formControlName="date_release"
              placeholder="aaaa-mm-dd"
              (input)="onDateInput($event)"
              (keydown)="preventInvalidKeys($event)"
              [class.error]="
                f['date_release'].invalid && f['date_release'].touched
              "
            />
            <div
              *ngIf="f['date_release'].invalid && f['date_release'].touched"
              class="error-message"
            >
              Este campo es requerido!
            </div>
          </div>

          <div class="form-group">
            <label>Fecha Revisión</label>
            <input formControlName="date_revision" readonly />
          </div>
        </div>

        <div class="buttons">
          <button type="button" class="btn-reset" (click)="reiniciar()">
            Reiniciar
          </button>
          <button type="submit" class="btn-submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-short-pop-up
  [show]="mostrarPopup"
  [type]="
    typeModal === 'success' || typeModal === 'error' ? typeModal : 'error'
  "
  [message]="message"
  [showAcceptButton]="true"
  (close)="mostrarPopup = false"
></app-short-pop-up>
