@import "../../src/styles/_variables.css";
.main {
  padding-top: 80px;
}
.main-content {
  padding: 24px;
  background-color: #f5f7f9;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 24px;
  color: #37474f;
  font-size: 24px;
  font-weight: 500;
}
